h3{   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(49, 44, 44);
    margin-top: 20px;
    }

img, h4, p{
    margin-top: 30px;
    margin-bottom: 30px;
}